* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  background-color: #292a2cee;
}

.maincontainer {
  border: 1px solid hsl(209, 89%, 52%);
  padding: 0.5% 1%;
  margin: auto;
  border-radius: 8px;
  width: 100%;
}

.springheader {
  display: flex;
  padding: 0.2% 0;
  height: 130px;
  margin: 0 0 1% 0;
}

.myprofile {
  display: flex;
  flex: 30%;
}

.myprofile .mypic {
  width: 25%;
  order: 1;
}

.myprofile img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.myprofile .programs {
  width: 75%;
  order: 2;
  border-radius: 6px;
  border: 1px solid hsla(160, 79%, 54%, 0.932);
}

.programs p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: right;
  color: rgba(231, 227, 8, 0.979);
  font-size: 1.6em;
  margin: 3% 3%;
}

.displaycenter {
  flex: 40%;
  text-align: center;
}

.displayscores {
  flex: 30%;
}

.scoretext0 {
  display: flex;
  flex: 100%;
  border-radius: 8px;
  height: 40%;
  margin: 0 0 0.5% 0;
}

.scoretext1 {
  flex: 25%;
  border: 1px solid #19aec2;
  background-color: #3c3f3d;
  border-radius: 8px;
  color: rgb(231, 8, 8);
  font-size: 1.4em;
  padding: 2% 1%;
}

.scoretext2 {
  flex: 30%;
  border: 1px solid #ecde19;
  border-radius: 8px;
  color: rgb(248, 248, 248);
  font-size: 2em;
  padding: 1% 2%;
}

.scoretext3 {
  flex: 45%;
  border: 1px solid #32ec19;
  border-radius: 8px;
  color: rgb(248, 248, 248);
  font-size: 2em;
  padding: 1% 2%;
}

.scoreboard0 {
  display: flex;
  flex: 100%;
  border-radius: 8px;
  height: 60%;
  color: #69066d;
}

.scoreboard1 {
  flex: 25%;
  order: 1;
  border: 1px solid #ecde19;
  border-radius: 8px;
  color: rgb(248, 248, 248);
  font-size: 1.6em;
  padding: 4% 2%;
}

.scoreboard2 {
  flex: 30%;
  order: 2;
  font-size: 3em;
  padding: 1% 2%;
  color: rgb(248, 248, 248);
  border: 1px solid #14be4d;
  background-color: rgba(18, 146, 146, 0.767);
  border-radius: 8px;
}

.springprice {
  flex: 45%;
  order: 3;
  padding: 1%;
  font-size: 2.8em;
  border: 1px solid #e0a421;
  background-color: hsla(310, 54%, 37%, 0.349);
  color: rgb(250, 250, 250);
  border-radius: 8px;
}

h1 {
  margin: 0.5% 0 2.8%;
  text-align: center;
  color: #c3c3c9e7;
  text-shadow: 1px 1px 5px #000000, 0 0 15px #da990bec, 0 0 5px #764105e5;
}

#playstartdiv {
  text-align: center;
}

#playstart:hover {
  background-color: rgba(142, 37, 240, 0.247);
  color: #fffffffb;
}

#playstart {
  display: inline-block;
  text-align: center;
  padding: 0.5%;
  font-size: 2em;
  border-radius: 6px;
  outline: 4px solid #8fda16e7;
  cursor: pointer;
}

#stopgame {
  float: right;
  padding: 0.5%;
  margin: 0 2% 0 0;
  font-size: 1em;
  border-radius: 6px;
  outline: 4px solid #da1616e7;
  cursor: pointer;
}


#displaybox {
  display: flex;
  margin: auto;
  background-color: hsla(0, 1%, 72%, 0.158);
  border-radius: 8px;
}

.springdivbox1 {
  display: flex;
  order: 1;
  flex: 40%;
  border-radius: 8px;
}

.springdivbox1>div {
  position: relative;
  flex: 10%;
  border-radius: 8px;
  border: 1px solid hsl(145, 89%, 52%);
}

.springdivbox1>div p {
  font-size: 0.9em;
  margin: 5px 0 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #fdfdfdde;
  text-align: center;
}

.springdivbox2 {
  display: flex;
  flex: 38%;
  order: 2;
  border-radius: 8px;
  background-color: #5166694b;
}

.springdivbox2>div {
  flex: 50%;
  padding: 1%;
  border-radius: 8px;
  border: 0.5px solid #ffffff93;
}

.springdivbox2>div h4 {
  font-size: 1.3em;
  color: #e7881ae7;
  margin: 0;
  text-align: center;
  letter-spacing: 1px;
}

.springdivbox2>div p {
  color: #ee8610;
}

.springdivbox2>div span {
  color: #fdfdfdfb;
  margin: 0 0 0 4px;
  letter-spacing: 1px;
}